.menu-selection-container{
    display: flex;
    flex-direction: column;
    border: none;
    max-height: 100px;
    width: clamp(20px, 50vw, 100px);
    border-radius: 999px;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.menu-selection-container-expanded{
    opacity: 1;
    max-height: 700px;
}

.selected-item-container{
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: start;
    padding: 5%;
}

.selected-item-container-expanded{
    max-height: 20%;
    background-color: transparent;
}

.selected-item-button{
    background-color: #ecf0f1;
    color: #2c3e50;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.selected-item-button:hover{
    background-color: #bdc3c7;
    transform: scale(1.05);
}

.menu-selection-options-container{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 999px;
    animation: fadeIn 0.4s ease;
}

.menu-selection-options-button-container{
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 6%;
}

.menu-selection-options-button{
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    border: none;
    color: #2c3e50;
    font-weight: bold;
    max-height: 50px;
    max-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    transition: transform 0.3s ease;
}

.menu-selection-options-button:hover{
    background: linear-gradient(135deg, #4ca1af, #2c3e50);
    color: white;
    transform: scale(1.1);
}

.selected-item-button,
.menu-selection-options-button {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}