.toggle-switch-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(150px, 20vw, 250px);
    height: clamp(75px, 10vh, 150px);
    border-radius: 999px;
    border: transparent;
}

.toggle-switch-container{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    display: flex;
    transition: background-color 0.5s ease;
}

.toggle-switch-container-day {
    background-color: #041A40;
    /* background-image: linear-gradient(black, #2B2C5A);  */
    border: 2px solid black;
}

.toggle-switch-container-night {
    background-color: #87CEEB;
    border: 2px solid black;
}

.toggle-switch-button{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 999px;
    z-index: 2;
    transition: left 0.5s ease;
}

.toggle-switch-button:hover{
    cursor: pointer;
}

.toggle-switch-button-left {
    left: 0px;
}

.toggle-switch-button-right {
    left: 50%;
}

.toggle-switch-background{
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sun{
    color:gold;
    width: 25%;
    height: 100%;
}

.moon{
    color: white;
    width: 20%;
    height: 100%;
}